PORT=8000
TEST_SERVER_URL=http://4.224.186.213/evaluation-service

# Fill these after registration
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
ACCESS_CODE=your_access_code_here
EMAIL=your_email_here
NAME=your_name_here
ROLL_NO=your_roll_no_here
